@{
    ViewBag.Title = "books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content_right" style ="display:normal;">
        	
        	 <div class="templatemo_product_box" >
            	
   	      <img src="../images/his1.jpg" alt="image" height="180" width="180"/>
                <div class="product_info">
                	
                  <h3>Rs.550</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	
       	    <img src="../images/art2.jpg"  height="180" width="180" alt="image" />
                <div class="product_info">
                	
                    <h3>Rs.350</h3>
                     <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
    <div class="templatemo_product_box" >
            
   	      <img src="../images/art3.jpg" alt="image" height="180" width="180"/>
                <div class="product_info">
                	
                  <h3>Rs.655</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	
       	    <img src="../images/his2.jpg" alt="image"  height="180" width="180"/>
                <div class="product_info">
                	
                    <h3>Rs.1700</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
    <div class="templatemo_product_box" >
            	<img src="../images/rel1.jpg" alt="image" height="180" width="180"/>
                <div class="product_info">
                	
                  <h3>Rs.6550</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<img src="../images/his3.jpg" alt="image" height="180" width="180"/>
                <div class="product_info">
                	
                  <h3>Rs.1655</h3>
                    <div class="buy_now_button"><a href="@Url.Action("login","Home")">Buy Now</a></div>
                   
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            <div class="cleaner_with_height">&nbsp;</div>
    
            <a href="#"><img src="../images/templatemo_ads.jpg" alt="ads" /></a>
        </div> 
<!-- end of content right -->
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    
